.container {
  margin-top: 32px;
  margin-bottom: 32px;
}

.messageContainer {
  height: 400px;
  overflow-y: auto;
  padding: 16px;
  border-radius: 8px;
  background-color: #f4f4f4;
}

.message {
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
}

.me {
  align-self: flex-end;
  background-color: #e6e6ff;
}

.other {
  align-self: flex-start;
  background-color: #e6ffe6;
}
